# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# macOS
.DS_Store

# VS Code
.vscode/
.vscode

# JetBrains IDEs
.idea/

# Logs
logs/
*.log

reports/
*.db
*.sqlite3

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build Artifacts
build/
dist/
*.egg-info/

# Environment Variables
.env
.env.*

# Temporary Files
*.tmp
*.bak
*.swp

# Local experiments (optional)
old-code/